

.start1 {
    background-color: rgba(255, 255, 255, 0.801);
    width: 100%;
    height: 100%;
    color: rgb(255, 81, 0);
    margin: 0px;
    padding-bottom: 30px;
    font-size: 78px;
}

.cvbild {
    
    padding: 30px;
    width: 520px;
    border: 10px solid rgba(0, 0, 0, 0);

}


div {
    font-family: "helvetica", Arial, serif;
}

body {
       color: white;
       font-size: 80px; 

background-image: 
url("Bild1.png"); 
background-position: center;
background-size: 100%;
background-attachment: fixed;
margin: 0 auto;
width: 100%;


}   

.body {
   text-align: center;
    width: 100%; 
    float: left;
}

.header {
    color: white;
    text-align: fixed;
    font-size: 70px;
    margin: 0px;
}

.headertwo {
    font-size: 40px; 
    background-color: rgba(255, 255, 255, 0.801);
    margin: 0px;
}

.fetStil {
    font-weight: bold;
    font-size: 12px;
    word-spacing:10px;
    list-style-type: none;
}

h1 {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    padding: 0px;
}


.content {

font-size: 16px;
width: 40%;
margin: auto;
}

.content1 {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    }

.bild1 {
    width: 7em;
    padding: 20px;
}

.wrap {

    background-color: rgba(0, 0, 0, 0.801);
    padding: 0px 0px 10px 0px;
    margin: 0 auto;
    
}


.list1 {
    width: 100%;
   margin: 30px;
   text-align: left;
    font-size: 14px;
    padding-top: 1rem;
   
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}

.brodtext {
    text-align: left;
    word-spacing:3px;
    padding: 10px;
}

h3 {
    font-size: 60px;
}

a {
    color: black;
}

.prodbilder {
    width: 100%;
}


.footer {
    text-align: center;
   padding: 0px;
    background-color: rgba(255, 255, 255, 0.801);
    font-size: 20px;
    color: black;
    bottom: 0; right: 0; width: 100%;
    padding-top: 1rem;
   
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 30px;

}

.a1 {
    margin: 0px;
    font-size: 16px;
    position: bottom;
}

.a2 {
    color:white;
}

  
  .pagination {
    margin-bottom: 30px;
  }

/* här är bästa koden */

/*@media (max-width: 600px){ html, body, .content, .content1 {
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
}
html {
    height: 100%;


    }
} 

@media (max-width: 992px){ html, body {

    margin: 0 auto;
    width: 100%;
        }
        html {
            height: 100%;
            width: 100%;
        }
    } */